@use "colors";

$z-index: 1000; // 401+ gets shown, but up to 400 the layers hide them

a.leaflet-control-zoom-in {
  border-radius: 20px 20px 20px 20px !important;
  border-bottom: none;
  background-color: colors.$gray-50;
}

a.leaflet-control-zoom-out {
  border-radius: 20px 20px 20px 20px !important;
  border-top: none;
  background-color: colors.$gray-50;
}

div.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-radius: 20px !important;
  margin-top: 116px;
  margin-right: 12px;
  background-color: colors.$gray-50;
}

.layers {
  position: absolute;
  top: 64px;
  right: 12px;
  z-index: $z-index;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: colors.$gray-50;
    border: 1px solid colors.$gray-100;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
}

.view-buttons {
  position: absolute;
  top: 9px; //12px
  left: 0;
  display: flex;
  align-items: center;
  gap: 6px; //8px
  height: 48px;
  z-index: $z-index;
  cursor: default;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 8px;

  .view-buttons::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  //&:first-child {
  //  padding-left: 16px;
  //}

  //&::before {
  //  content: "";
  //  flex: 0 0 8px;
  //}

  .map-button {
    background-color: colors.$gray-50;
    border: 1px solid colors.$gray-100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 6px 12px;
    margin: 8px 0;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    white-space: nowrap;
    color: colors.$gray-900;
    scroll-snap-align: center;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);

    &.selected {
      &.crowding {
        background-color: colors.$orange-200;
        border: 1px solid colors.$orange-300;
      }

      &.attendance {
        background-color: colors.$red-200;
        border: 1px solid colors.$red-300;
      }

      &.movements {
        background-color: colors.$deep-purple-200;
        border: 1px solid colors.$deep-purple-300;
      }

      &.medians {
        background-color: colors.$purple-200;
        border: 1px solid colors.$purple-300;
      }

      .icon {
        color: colors.$gray-900;
      }
    }

    //&:first-of-type {
    //  margin-left: 16px;
    //}
    //
    //&:last-of-type {
    //  margin-right: 16px;
    //}

    &:hover {
      border-color: colors.$gray-200;
      background-color: colors.$gray-100;
    }

    .icon {
      color: colors.$gray-800;
      display: flex;
      align-items: center;
    }

    .label {
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

@media (prefers-color-scheme: dark) {
  a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
    background-color: colors.$gray-900;
    color: colors.$gray-50;

    &:hover {
      background-color: colors.$gray-800;
    }
  }
  div.leaflet-control-zoom.leaflet-bar.leaflet-control {
    background-color: colors.$gray-900;
  }
  .layers {
    button {
      background-color: colors.$gray-900;
      border-color: colors.$gray-800;
      color: colors.$gray-50;

      &:hover {
        background-color: colors.$gray-800;
      }
    }
  }

  .view-buttons {
    .map-button {
      background-color: colors.$gray-900;
      border-color: colors.$gray-800;
      color: colors.$gray-50;

      .icon {
        color: colors.$gray-50;
      }

      &.selected {
        color: colors.$gray-900;
      }

      &:hover {
        background-color: colors.$gray-800;
        border-color: colors.$gray-700;
      }
    }
  }
}