.layers {
  position: absolute;
  top: 64px;
  right: 12px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layers button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.view-buttons {
  position: absolute;
  top: 9px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 48px;
  z-index: 1000;
  cursor: default;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 8px;
}
.view-buttons .view-buttons::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.view-buttons .map-button {
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 12px;
  margin: 8px 0;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
  white-space: nowrap;
  color: #212121;
  scroll-snap-align: center;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.view-buttons .map-button.selected.crowding {
  background-color: #FFCC80;
  border: 1px solid #FFB74D;
}
.view-buttons .map-button.selected.attendance {
  background-color: #EF9A9A;
  border: 1px solid #E57373;
}
.view-buttons .map-button.selected.movements {
  background-color: #B39DDB;
  border: 1px solid #9575CD;
}
.view-buttons .map-button.selected.medians {
  background-color: #CE93D8;
  border: 1px solid #BA68C8;
}
.view-buttons .map-button.selected .icon {
  color: #212121;
}
.view-buttons .map-button:hover {
  border-color: #EEEEEE;
  background-color: #F5F5F5;
}
.view-buttons .map-button .icon {
  color: #424242;
  display: flex;
  align-items: center;
}
.view-buttons .map-button .label {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .view-buttons .map-button {
    background-color: #212121;
    border-color: #424242;
    color: #FAFAFA;
  }
  .view-buttons .map-button .icon {
    color: #FAFAFA;
  }
  .view-buttons .map-button.selected {
    color: #212121;
  }
  .view-buttons .map-button:hover {
    border-color: #616161;
    background-color: #424242;
  }
}
header {
  background-color: #FAFAFA;
  box-sizing: border-box;
}
header .header {
  height: var(--header-height);
  z-index: 1000;
  display: flex;
  align-items: center;
  font: 400 20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  box-sizing: border-box;
}
header .header .menu {
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
header .header .logo {
  padding: 0 16px;
  height: 31px;
}
header .header .logo img {
  height: 31px;
}
header .header .icon {
  padding: 0 16px;
  cursor: pointer;
}
header .datetime-setup {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font: 400 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
}
header .datetime-setup .date-setup, header .datetime-setup .time-setup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 48px;
  flex: 1;
}
header .datetime-setup .icon {
  padding: 0 16px;
  color: #424242;
}
header .datetime-setup .variation-icon {
  padding: 0;
  background-color: #757575;
  color: #FAFAFA;
  border-radius: 12px;
  border: 1px solid transparent;
  height: 16px;
  width: 16px;
}
header .datetime-setup .variation-icon.minus {
  margin-left: 4px;
  margin-right: 12px;
}
header .datetime-setup .variation-icon.plus {
  margin-left: 12px;
  margin-right: 12px;
}
header .datetime-setup .variation-icon:hover {
  background-color: #616161;
}
header .datetime-setup .variation-icon:focus, header .datetime-setup .variation-icon:active {
  background-color: #424242;
}
header .datetime-setup input {
  border: 1px solid #BDBDBD;
  border-radius: 16px;
  height: 28px;
  background-color: #FFFFFF;
  padding: 2px 12px;
  outline: none;
}
header .datetime-setup input#date {
  max-width: 100px;
}
header .datetime-setup input#hour, header .datetime-setup input::-webkit-inner-spin-button {
  max-width: 17px;
  appearance: none;
  -webkit-appearance: none; /* For Chrome, Safari, Edge */
  -moz-appearance: textfield; /* For Firefox */
}
header .datetime-setup input:focus {
  border-color: #9E9E9E;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #212121;
  }
  header .header {
    border-bottom-color: #424242;
  }
  header .header .menu {
    color: #FAFAFA;
  }
  header .datetime-setup {
    border-bottom-color: #424242;
  }
  header .datetime-setup .icon {
    color: #FAFAFA;
  }
  header .datetime-setup .variation-icon {
    background-color: #424242;
  }
  header .datetime-setup .variation-icon:hover {
    background-color: #616161;
  }
  header .datetime-setup .variation-icon:focus, header .datetime-setup .variation-icon:active {
    background-color: #757575;
  }
  header .datetime-setup input {
    background-color: #424242;
    color: #FFFFFF;
  }
  header .datetime-setup input#date::-webkit-calendar-picker-indicator {
    color: #FFFFFF;
  }
}
.layer-picker {
  position: absolute;
  background-color: white;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  row-gap: 32px;
  z-index: 2000;
  border-radius: 28px 28px 0 0;
  padding: 20px 20px;
}
.layer-picker .layer-picker-topbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.layer-picker .layer-picker-topbar .label {
  font-size: 16px;
  font-weight: 500;
}
.layer-picker .layer-picker-topbar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  background-color: #EEEEEE;
}
.layer-picker .layer-picker-bottombar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 32px;
}
.layer-picker .layer-picker-bottombar button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 96px;
  width: 96px;
  border-radius: 16px;
  background-color: transparent;
  border: none;
}
.layer-picker .layer-picker-bottombar button .icon {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.6);
  padding: 2px;
  margin-bottom: 14px;
}
.layer-picker .layer-picker-bottombar button .icon.selected {
  border: 2px solid #9E9E9E;
  border-radius: 8px;
}

#app {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  font-weight: normal;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

:root {
  --header-height: 48px;
}

main {
  margin: 0;
  width: 100%;
  height: calc(100% - 2 * var(--header-height));
  box-sizing: border-box;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsl(160, 100%, 37%);
  transition: 0.4s;
  padding: 3px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (min-width: 1024px) {
  #app {
    /*padding: 0 2rem;*/
  }
}

/*# sourceMappingURL=main.css.map */
