@use "colors";

$z-index: 2000; // 401+ gets shown, but up to 400 the layers hide them

.layer-picker {
  position: absolute;
  background-color: colors.$gray-50;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  row-gap: 32px;
  z-index: $z-index;
  border-radius: 28px 28px 0 0;
  padding: 20px 20px;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);

  .layer-picker-topbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .label {
      font-size: 16px;
      font-weight: 500;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 2px;
      background-color: colors.$gray-200;
    }
  }

  .layer-picker-bottombar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 32px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      //height: 96px;
      width: 96px;
      border-radius: 16px;
      background-color: transparent;
      border: none;
      font-size: 14px;

      &.selected {
        font-weight: 500;

        .icon {
          outline: 3px solid colors.$gray-500;
          //border-radius: 16px;
        }
      }

      .icon {
        height: 64px;
        width: 64px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        //transform: scale(1.6);
        border-radius: 16px;
        border: 3px solid transparent;
        margin-bottom: 8px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: block;
          //overflow-clip-margin: unset;
          //overflow: visible;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .layer-picker {
    top: 64px;
    bottom: unset;
    left: unset;
    right: 64px;
    border-radius: 28px;
    row-gap: 14px;

    .layer-picker-topbar {
      //width: auto;

      .label {
        //display: none;
      }

      .icon {
        position: absolute;
        top: 0px;
        right: -52px;
        width: 36px;
        height: 36px;
      }
    }

    .layer-picker-bottombar {
      //width: auto;
      //justify-content: space-between;
      margin-bottom: 0;

      button {
        //padding: 0;
        //width: unset;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .layer-picker {
    background-color: colors.$gray-900;
    color: colors.$gray-50;

    .layer-picker-topbar {
      .icon {
        background-color: colors.$gray-800;
      }
    }

    .layer-picker-bottombar {
      button {
        color: colors.$gray-50;
      }
    }
  }
}